<div class="btn-group ms-2">
    {% for season in seasons %}
        <div class="btn-group">
            <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{ season.league.name }}
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{{ path('season_table', {'slug': season.slug}) }}">
                        {{ 'menu.season.table'|trans }}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ path('season_schedule', {'slug': season.slug}) }}">
                        {{ 'menu.season.schedule'|trans }}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">{{ 'menu.season.stats'|trans }}</a>
                </li>
                {% if season.rankings is not empty %}
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    {% for ranking in season.rankings %}
                        {% if ranking.isActive %}
                            <li>
                                <a class="dropdown-item" href="{{ path('ranking_detail', {'slug': ranking.slug}) }}">
                                    {{ ranking.name }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    {% endfor %}
</div>