{% block top_label %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('index') }}">
                <div class="d-inline-block">
                    <img src="{{ asset('assets/img/mtLogo.png') }}" style="height: 34px;" alt="mt_logo">
                </div>
                <div class="d-none d-lg-inline-block">
                    <img src="{{ asset('assets/img/mtLogoNapis.png') }}" style="height: 30px;" alt="mt_napis">
                </div>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <div class="btn-group">
                    <a href="#" class="btn btn-outline-success" role="button">{{ 'menu.rules'|trans }}</a>
                    {% if app.user %}
                        <a href="{{ path('users_list') }}" class="btn btn-outline-success" role="button">{{ 'menu.players'|trans }}</a>
                    {% endif %}
                </div>
                {{ render(controller('App\\Controller\\SeasonController::active')) }}
            </div>

            {% if is_granted('ROLE_USER') %}
                <div class="row row-cols-lg-auto align-items-center">
                    <div class="col-12 d-flex mx-5">
                        <a href="{{ path('current_bets') }}" class="btn btn-outline-success me-2 btn-bet px-4" role="button">{{ 'menu.bet'|trans }}
                            &nbsp;<span class="badge bg-success">{{ app.session.get('userMissingBets') }}</span></a>
                    </div>
                </div>

                <div class="row row-cols-lg-auto g-3 align-items-center text-end">
                    <div class="col-12 d-flex">
                        <small class="text-nowrap lh-sm">{{ 'menu.loggedAs'|trans }}:<br>
                            <b><a href="{{ path('user_profile') }}" class="link-secondary">
                                    {{ app.user.firstName }} {{ app.user.lastName }}
                                </a></b>
                        </small>
                    </div>
                </div>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <div class="ms-3 fs-4">
                    <a href="{{ path('admin') }}">
                        <i class="fas fa-cogs"></i>
                    </a>
                </div>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <div class="ms-3 fs-4">
                    <a href="{{ path('app_logout') }}">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            {% endif %}

            {% if is_granted('IS_ANONYMOUS') %}
                <div class="btn-group">
                    <a href="{{ path('app_register') }}" class="btn btn-outline-success text-nowrap" role="button">{{ 'menu.register'|trans }}</a>
                    <a href="{{ path('app_login') }}" class="btn btn-success me-2 text-nowrap" role="button">{{ 'menu.login'|trans }}</a>
                </div>
            {% endif %}
        </div>
    </nav>
{% endblock %}