{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - zarejestruj konto{% endblock %}

{% block body %}
    <div class="position-relative" style="height: 88vh">
        <div class="position-absolute top-50 start-50 translate-middle">
            {% if app.user %}
                <div class="mb-3">
                    <div class="alert alert-success text-center">
                        Jesteś zalogowany jako <b>{{ app.user.username }}</b>,<br><a href="{{ path('app_logout') }}">wyloguj się</a>
                    </div>
                </div>
            {% else %}
                <!-- Register -->
                <div class="card" style="width: 350px">
                    <div class="card-header">
                        Zarejestruj się
                    </div>
                    <div class="card-body">
                        {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
                        {{ form_start(registrationForm) }}
                        <div class="mb-3">
                            {{ form_row(registrationForm.username, {
                                label: 'Login'
                            }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.firstName, {
                                label: 'Imię'
                            }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.lastName, {
                                label: 'Nazwisko'
                            }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.email, {
                                label: 'Adres e-mail'
                            }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.plainPassword, {
                                label: 'Hasło',
                                'label_attr': {'class': 'form-class'}
                            }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.member, {
                                formwidget: 'checkbox_widget',
                                label: 'Członek Stowarzyszenia Mensa Polska'
                            }) }}
                        </div>
                        <button type="submit" class="btn btn-primary">Załóż konto</button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>

                <a href="{{ path('app_login') }}">
                    <span>Zaloguj</span>
                </a>
                <br/>
                <a href="{{ path('app_forgot_password_request') }}">
                    <span>Nie pamiętam hasła</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}