{% extends 'base.html.twig' %}

{% block title %}Zresetuj hasło{% endblock %}

{% block top_label %}
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    </p>
    <![endif]-->
{% endblock %}

{% block desktop_menu %}
{% endblock %}

{% block mobile_menu %}
{% endblock %}

{% block content %}
    <div class="login-content">
        <!-- Forgot Password -->
        <div class="nk-block toggled" id="l-forget-password">

            {% for flashError in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            {% form_theme requestForm 'bootstrap_4_layout.html.twig' %}
            {{ form_start(requestForm) }}
            <div class="nk-form">
                <p class="text-left">Wpisz w poniższym polu adres e-mail, który został podany podczas rejestracji konta.
                    Następnie otrzymasz na niego kod umożliwiający zresetowanie hasła.</p>

                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                    <div class="nk-int-st">
                        {{ form_row(requestForm.email, {
                            label: ' '
                        }) }}
                    </div>
                </div>

                <button type="submit" class="btn btn-login btn-success btn-float">
                    <i class="notika-icon notika-right-arrow"></i>
                </button>
            </div>
            {{ form_end(requestForm) }}

            <div class="nk-navigation nk-lg-ic">
                <a href="{{ path('app_login') }}" data-ma-block="#l-login">
                    <i class="notika-icon notika-right-arrow"></i>
                    <span>Zaloguj</span>
                </a>
                <a href="{{ path('app_register') }}" data-ma-block="#l-register">
                    <i class="notika-icon notika-plus-symbol"></i>
                    <span>Zarejestruj się</span>
                </a>
            </div>

        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}