{% extends('profile/index.html.twig') %}

{% block title %}{{ 'user.profile'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'card.changePassword'|trans }}
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-primary m-2"
                    data-bs-toggle="modal" data-bs-target="#changePassword">
                {{ 'card.changePassword'|trans }}
            </button>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="changePassword" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="changePassword" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'card.changePassword'|trans }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="password1" class="col-form-label">{{ 'modal.newPassword'|trans }}</label>
                            <input type="password" class="form-control" id="password1" name="password1"
                                   minlength="6" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label for="password2" class="col-form-label">{{ 'modal.repeatPassword'|trans }}</label>
                            <input type="password" class="form-control" id="password2" name="password2"
                                   minlength="6" autocomplete="off">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
