{% extends('profile/index.html.twig') %}

{% block title %}{{ 'user.profile'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ 'card.summary'|trans }}
        </div>
        <div class="card-body">
            <div id="userInfo">
                <table class="table">
                    <tbody>
                    <tr class="align-middle">
                        <td width="20%">{{ 'profile.firstName'|trans }}:</td>
                        <td>{{ user.firstName }}</td>
                    </tr>
                    <tr class="align-middle">
                        <td>{{ 'profile.lastName'|trans }}:</td>
                        <td>{{ user.lastName }}</td>
                    </tr>
                    <tr class="align-middle">
                        <td>{{ 'profile.email'|trans }}:</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary m-2"
                        data-bs-toggle="modal" data-bs-target="#userDataChange">
                    {{ 'profile.changeData'|trans }}
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="userDataChange" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="userData" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'profile.changeData'|trans }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="firstName" class="col-form-label">{{ 'profile.firstName'|trans }}</label>
                            <input type="text" class="form-control" id="firstName" name="firstName"
                                   maxlength="255" value="{{ user.firstName }}">
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="col-form-label">{{ 'profile.lastName'|trans }}</label>
                            <input type="text" class="form-control" id="lastName" name="lastName"
                                   maxlength="255" value="{{ user.lastName }}">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="col-form-label">{{ 'profile.email'|trans }}</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   maxlength="255" value="{{ user.email }}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block customJs %}
    <script type="text/javascript">
        $(document).ready(function () {
            var modal = new bootstrap.Modal(document.getElementById('userDataChange'));
            $("form#userData").submit(function (event) {
                event.preventDefault();
                modal.hide();

                var userInfo = {
                    firstName: $("#firstName").val(),
                    lastName: $("#lastName").val(),
                    email: $("#email").val()
                };

                $.ajax({
                    type: "POST",
                    url: "{{ path('user_update', {'id': user.id}) }}",
                    dataType: 'json',
                    data: "data=" + JSON.stringify(userInfo),
                    success: function () {
                        $("#userInfo").load(" #userInfo");
                    }
                });
            });
        });
    </script>
{% endblock %}
