{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {% if missingResults is not empty %}
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <div class="card p-3 lh-base color-green-transparent">
                    {% if app.user %}
                        <span class="fw-mid fs-normal mb-3">
                            {{ 'index.helpContribute'|trans }}<br>
                            {{ 'index.missingResultUser'|trans }}:
                        </span>
                        <table class="table table-sm mb-1">
                            <thead>
                            <tr>
                                <th scope="col">{{ 'game.gameplay'|trans }}</th>
                                <th scope="col">{{ 'game.date'|trans }}</th>
                                <th scope="col">{{ 'game.meeting'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for game in missingResults %}
                                <tr class="row-link" data-href="{{ path('game_detail', {'id': game.id}) }}">
                                    <td>{{ game.season.league.code }}</td>
                                    <td>{{ game.date|date("d.m H:i") }}</td>
                                    <td class="text-center">
                                        <span class="fw-mid">{{ game.home.name }}</span>
                                        <span class="fs-6"> vs. </span>
                                        <span class="fw-mid">{{ game.guest.name }}</span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <span class="fw-mid fs-normal">
                            {{ 'index.helpContribute'|trans }}<br>
                            {{ 'index.missingResult'|trans }}
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
