{% extends 'base.html.twig' %}

{% block title %}Hello SeasonController!{% endblock %}

{% block body %}
    {% for type in games %}
        <div class="card mb-3">
            <div class="card-header fw-bold">
                {{ type.label }}
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Data</th>
                        <th scope="col">Gospodarz</th>
                        <th scope="col"></th>
                        <th scope="col">Gość</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for round in type.data %}
                        {% for game in round %}
                            {% set counter = (counter|default(0)) + 1 %}
                            {% if loop.first %}
                                <tr>
                                    <th scope="row" colspan="7" class="text-center">Kolejka #{{ game.round }}</th>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>{{ counter }}</td>
                                <td>{{ game.round }}</td>
                                <td>{% if game.isawarded %}&#9917;{% endif %}</td>
                                <td>{{ game.date|date("Y-m-d H:i") }}</td>
                                <td class="text-end fw-bold">{{ game.home.name }}</td>
                                <td class="text-center">{{ game.goalsHome }} : {{ game.goalsGuest }}</td>
                                <td class="text-start fw-bold">{{ game.guest.name }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}
