{% extends 'game/index.html.twig' %}

{% block title %}Game - {{ parent() }}{% endblock %}

{% block content %}
    {{ dump(game) }}
    <div class="card">
        <div class="card-header text-center">
            {{ game.home.name }} vs. {{ game.guest.name }}
        </div>
        <div class="card-body">
            <div class="container">

                {% if game.isAwarded %}
                    <div class="row">
                        <div class="col text-center">
                            <div class="card bg-success-opacity mt-2 mb-3 p-2 fw-mid">
                                &#9917; Spotkanie z bonusem! Zdobyte punkty w tym spotkaniu są podwojone &#9917;
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if not game.isCounted %}
                    <div class="row">
                        <div class="col text-center">
                            <div class="card bg-danger-opacity text-white mt-2 mb-3 p-2 fw-mid">
                                Spotkanie to nie jest brane pod uwagę w rankingu
                            </div>
                        </div>
                    </div>
                {% endif %}


                <div class="row">
                    <div class="col-sm-12 col-lg-4">

                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <table class="table table-sm">
                            <tbody>
                            <tr>
                                <td class="text-right">
                                    Runda:
                                </td>
                                <td class="text-center" colspan="2">
                                    Kolejka #<span class="fw-mid">{{ game.round }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle text-right">
                                    Data:
                                </td>
                                <td class="text-center lh-sm" colspan="2">
                                    {{ game.date|date("d.m.Y") }}
                                    <br>
                                    godz. {{ game.date|date("H:i") }}
                                </td>
                            </tr>
                            {% if app.user %}
                                <tr>
                                    <td class="align-middle text-right">
                                        Twój typ:
                                    </td>
                                    <td class="text-center lh-sm" colspan="2">
                                        brak :-(
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>

                        <div class="text-center">
                            {% if date() > game.date and date() < game.endDate %}
                                <p class="fs-4">mecz w toku</p>
                            {% elseif date() > game.endDate %}
                                {% if game.goalsHome is not null and game.goalsGuest is not null %}
                                    <p class="fs-0">{{ game.goalsHome }} : {{ game.goalsGuest }}</p>
                                {% else %}
                                    {% if app.user %}
                                        <p class="fs-5">dodaj wynik spotkania</p>
                                    {% else %}
                                        <p class="fs-4">czekamy na wynik</p>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">

                    </div>
                </div>

                {% if game.description is not null %}
                    <div class="row">
                        <div class="col text-center">
                            <div class="card bg-info-opacity mt-2 mb-3 p-2 fw-mid">
                                {{ game.description }}
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
