{% extends 'game/index.html.twig' %}

{% block title %}Game - {{ parent() }}{% endblock %}

{% block content %}
    <div id="gameInfo">
        <div class="card">
            {% if game.isAwarded %}
                <div class="ribbon-wrapper-2">
                    <div class="ribbon-2">BONUS!</div>
                </div>
            {% endif %}
            <div class="card-header text-center">
                {{ game.home.name }} vs. {{ game.guest.name }}
            </div>
            <div class="card-body">
                <div class="container">
                    {% if not game.isCounted %}
                        <div class="row">
                            <div class="col text-center">
                                <div class="card bg-danger-opacity text-white mt-2 mb-3 p-2 fw-mid">
                                    {{ 'game.notCounted'|trans }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-12 col-lg-4 d-flex align-items-center justify-content-center">
                            <div class="team-logo">
                                <img src="{{ asset('assets/team/' ~ game.home.id ~ '.png') }}"
                                     alt="{{ game.home.name }}">
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4">
                            <table class="table table-sm">
                                <tbody>
                                <tr>
                                    <td class="text-right">
                                        {{ 'game.round'|trans }}:
                                    </td>
                                    <td class="text-center" colspan="2">
                                        <span class="fw-mid">{{ round_name(game.round) }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle text-right">
                                        {{ 'game.date'|trans }}:
                                    </td>
                                    <td class="text-center lh-sm" colspan="2">
                                        {{ game.date|date("d.m.Y") }}
                                        <br>
                                        {{ 'game.time'|trans }} {{ game.date|date("H:i") }}
                                    </td>
                                </tr>
                                {% if app.user %}
                                    <tr>
                                        <td class="align-middle text-right">
                                            {{ 'bet.your'|trans }}:
                                        </td>
                                        {% if date() < game.date %}
                                            {% if userBet is not null %}
                                                <td class="text-center lh-sm align-middle">
                                                <span class="fs-5 fw-mid">
                                                    {{ userBet.goalsHome }} : {{ userBet.goalsGuest }}
                                                </span>
                                                </td>
                                                <td class="text-center lh-sm align-middle">
                                                    <button type="button" class="btn btn-outline-success py-1 px-2 m-1"
                                                            data-bs-toggle="modal" data-bs-target="#userBetModal"
                                                            title="{{ 'bet.change'|trans }}">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </button>
                                                </td>
                                            {% else %}
                                                <td class="text-center lh-sm align-middle" colspan="2">
                                                    <button type="button" class="btn btn-outline-danger py-1 px-2 m-1"
                                                            data-bs-toggle="modal" data-bs-target="#userBetModal">
                                                        {{ 'bet.make'|trans }}
                                                    </button>
                                                </td>
                                            {% endif %}
                                        {% else %}
                                            {% if userBet is not null %}
                                                <td class="text-center lh-sm align-middle">
                                                <span class="fs-5 fw-mid">
                                                    {{ userBet.goalsHome }} : {{ userBet.goalsGuest }}
                                                </span>
                                                </td>
                                                <td class="text-center lh-sm align-middle">
                                                    {% if game.goalsHome is not null and game.goalsGuest is not null %}
                                                        <span class="fs-normal {% if userBet.pts == 0 %}color-gray{% else %}fw-mid{% endif %}">
                                                        {{ userBet.pts|number_format(1) }} {{ 'game.points'|trans }}
                                                    </span>
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                <td class="text-center lh-sm align-middle" colspan="2">
                                                    <span>{{ 'general.none'|trans }} :-(</span>
                                                </td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>

                            <div class="text-center">
                                {% if date() > game.date and date() < game.endDate %}
                                    <p class="fs-4 fw-mid color-green">{{ 'game.inProgress'|trans }}</p>
                                {% elseif date() > game.endDate %}
                                    {% if game.goalsHome is not null and game.goalsGuest is not null %}
                                        <p class="fs-0">{{ game.goalsHome }} : {{ game.goalsGuest }}</p>
                                    {% else %}
                                        {% if app.user %}
                                            <button type="button" class="btn btn-outline-info px-4 py-2 m-2"
                                                    data-bs-toggle="modal" data-bs-target="#gameResultModal">
                                                {{ 'game.addResult'|trans }}
                                            </button>
                                        {% else %}
                                            <p class="fs-4">{{ 'game.missingResult'|trans }}</p>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-4 d-flex align-items-center justify-content-center">
                            <div class="team-logo">
                                <img src="{{ asset('assets/team/' ~ game.guest.id ~ '.png') }}"
                                     alt="{{ game.guest.name }}">
                            </div>
                        </div>
                    </div>
                    {% if game.description is not null %}
                        <div class="row">
                            <div class="col text-center">
                                <div class="card bg-info-opacity mt-2 mb-3 p-2 fw-mid">
                                    {{ game.description }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if date() < game.date or date() >= game.date and game.bets is not empty %}
        <div class="card">
            <div class="card-header">
                {{ 'game.bets'|trans }}
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="d-none d-lg-block col-lg-3">
                            <canvas id="betsChart" width="100%" height="80%"></canvas>
                            {% if date() > game.date %}
                                {% set effectiveness = betsStats.scored / game.bets|length * 100 %}
                                <div class="mt-4  text-center">
                                    {{ 'game.betsSaved'|trans }}:
                                    <span class="fw-mid">{{ game.bets|length }}</span><br>
                                    {{ 'game.betseffectiveness'|trans }}:
                                    <span class="fw-mid">{{ effectiveness|number_format(1) }}%</span><br>
                                    {{ 'user.exactHits'|trans }}:
                                    <span class="fw-mid">{{ betsStats.hits }}</span><br>
                                    {{ 'ranking.averagePoints'|trans }}:
                                    <span class="fw-mid">{{ betsStats.avgPts|number_format(2) }}</span><br>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-9 align-self-center">
                            <div id="betsCard">
                                {% if date() < game.date %}
                                    {% if game.bets is not empty %}
                                        {{ 'game.betsSavedSoFar'|trans }}: <span class="fw-mid">{{ game.bets|length }}</span>.<br>
                                        {{ 'game.betsHiddenDetails'|trans|raw }}
                                    {% else %}
                                        {{ 'game.noBets'|trans }}
                                    {% endif %}
                                {% else %}
                                    <table id="betsTable" class="table table-sm">
                                        <thead class="table-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col"></th>
                                            <th class="text-center" scope="col" style="width: 60px">{{ 'game.bet'|trans }}</th>
                                            <th class="text-center" scope="col" style="width: 60px">{{ 'table.points'|trans }}</th>
                                            <th class="text-end" scope="col" style="width: 130px"
                                                class="text-end">{{ 'game.betTime'|trans }}</th>
                                            <th scope="col" style="width: 30px"></th>
                                        </tr>
                                        </thead>
                                        <tbody id="bets_list_all">
                                        {% for bet in game.bets|sort((a, b) => a.pts < b.pts) %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td class="fw-mid">{{ bet.user.fullName }}</td>
                                                <td class="text-center">{{ bet.goalsHome }} : {{ bet.goalsGuest }}</td>
                                                <td class="text-center">
                                                    {% if bet.pts is not null %}
                                                        {% set class = bet.pts > 0 ? 'fw-mid' : 'color-gray' %}
                                                        <span class="{{ class }}">{{ bet.pts|number_format(1) }}</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-end">{{ bet.createdAt|date("d.m.Y H:i") }}</td>
                                                <td class="text-center">
                                                    {% if bet.updatedAt is not null %}
                                                        <i class="fas fa-info-circle color-gray"
                                                           title="{{ 'game.betEdited'|trans }}: {{ bet.updatedAt|date("d.m.Y H:i") }}"></i>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="card">
        <div class="card-header">
            Zmiana pozycji
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 justify-content-center">
                        <canvas id="myChart" width="100%" height="25%"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block charts %}
    <script>
        const ctx = document.getElementById('myChart');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Kolejka 1', 'Kolejka 2', 'Kolejka 3', 'Kolejka 4', 'Kolejka 5', 'Kolejka 6', 'Kolejka 7'],
                datasets: [{
                    label: 'Łukasz Mikowski',
                    data: [1, 2, 5, 2, 2, 4, 1],
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }, {
                    label: 'Stanisław Mikowski',
                    data: [2, 3, 2, 1, 1, 2, 2],
                    fill: false,
                    tension: 0.1
                }]
            },
            options: {
                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    y: {
                        label: 'Pozycja w table',
                        max: 10,
                        min: 1,
                        ticks: {
                            stepSize: 1
                        },
                        beginAtZero: true,
                        reverse: true
                    }
                }
            }
        });

        var gtx = document.getElementById('betsChart');

        var gtxChart = new Chart(gtx, {
            type: 'bar',
            data: {
                labels: ['{{ 'game.betsDistribution'|trans }} [%]'],
                datasets: [{
                    label: '{{ game.home.name }}',
                    data: [{{ betsDistribution.home|default(0) }}],
                    fill: false,
                    backgroundColor: 'rgb(88, 214, 141, 0.9)',
                    tension: 0.1
                }, {
                    label: '{{ 'table.drawn'|trans }}',
                    data: [{{ betsDistribution.draw|default(0) }}],
                    fill: false,
                    backgroundColor: 'rgb(247, 220, 111, 0.9)',
                    tension: 0.1
                }, {
                    label: '{{ game.guest.name }}',
                    data: [{{ betsDistribution.guest|default(0) }}],
                    fill: false,
                    backgroundColor: 'rgb(241, 148, 138, 0.9)',
                    tension: 0.1
                }],
            },

            options: {
                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    y: {
                        max: 100,
                        beginAtZero: true,
                    }
                }
            }
        });
    </script>
{% endblock %}

{% block modals %}
    {% if app.user %}
        {% if date() < game.date %}
            {% include 'game/modals/bet.html.twig' %}
            <div id="betSaveConfirm" class="toast">
                <div class="toast-body text-center">
                    {{ 'bet.saved'|trans }}
                </div>
            </div>
            <div id="betSaveError" class="toast">
                <div class="toast-body text-center">
                    {{ 'bet.notSaved'|trans }}
                    <div id="betSaveErrorMessage"></div>
                </div>
            </div>
        {% endif %}
        {% if date() > game.endDate and game.goalsHome is null and game.goalsGuest is null %}
            {% include 'game/modals/result.html.twig' %}
            <div id="resultSaveConfirm" class="toast">
                <div class="toast-body text-center">
                    {{ 'game.result.saved'|trans }}
                </div>
            </div>
            <div id="resultSaveError" class="toast">
                <div class="toast-body text-center">
                    {{ 'game.result.notSaved'|trans }}
                    <div id="resultSaveErrorMessage"></div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block customJs %}
    {% if app.user %}
        <script type="text/javascript">
            $(document).ready(function () {
                {% if date() < game.date %}
                const betModal = new bootstrap.Modal(document.getElementById('userBetModal'));
                $("form#userBetForm").submit(function (event) {
                    event.preventDefault();
                    betModal.hide();

                    const bet = {
                        goalsHome: $("#betGoalsHome").val(),
                        goalsGuest: $("#betGoalsGuest").val()
                    };

                    $.ajax({
                        type: "POST",
                        url: "{{ path('game_save_bet', {'id': game.id}) }}",
                        dataType: 'json',
                        data: "data=" + JSON.stringify(bet),
                        success: function (result) {
                            $("#gameInfo").load(" #gameInfo");
                            $("#betsCard").load(" #betsCard");
                            gtxChart.data.datasets[0].data = [result.home];
                            gtxChart.data.datasets[1].data = [result.draw];
                            gtxChart.data.datasets[2].data = [result.guest];
                            gtxChart.update();
                            $('#betSaveConfirm').toast('show');
                        },
                        error: function (result) {
                            $('#betSaveErrorMessage').html(result.responseJSON.errorMsg);
                            $('#betSaveError').toast('show');
                        },
                    });
                });
                {% endif %}

                {% if date() > game.endDate and game.goalsHome is null and game.goalsGuest is null %}
                const resultModal = new bootstrap.Modal(document.getElementById('gameResultModal'));
                $("form#gameResultForm").submit(function (event) {
                    event.preventDefault();
                    resultModal.hide();

                    const result = {
                        goalsHome: $("#resultGoalsHome").val(),
                        goalsGuest: $("#resultGoalsGuest").val()
                    };

                    $.ajax({
                        type: "POST",
                        url: "{{ path('game_save_result', {'id': game.id}) }}",
                        dataType: 'json',
                        data: "data=" + JSON.stringify(result),
                        success: function () {
                            $("#gameInfo").load(" #gameInfo");
                            $("#betsTable").load(" #betsTable");
                            $('#resultSaveConfirm').toast('show');
                        },
                        error: function () {
                            $('#resultSaveErrorMessage').html(result.responseJSON.errorMsg);
                            $("#gameInfo").load(" #gameInfo");
                            $("#betsTable").load(" #betsTable");
                            $('#resultSaveError').toast('show');
                        },
                    });
                });
                {% endif %}
            });
        </script>
    {% endif %}
{% endblock %}