<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Mensański Typer{% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css.map') }}">
    {% endblock %}
    <script defer src="{{ asset('assets/js/brands.js') }}"></script>
    <script defer src="{{ asset('assets/js/solid.js') }}"></script>
    <script defer src="{{ asset('assets/js/fontawesome.js') }}"></script>
    <script src="{{ asset('assets/js/chart.js') }}"></script>
</head>
<body>
{% include('_partials/top_label.html.twig') %}
{% include('_partials/flashes.html.twig') %}
<div class="container my-3 pb-4">
    {% block body %}{% endblock %}
</div>
<div id="spinner"></div>
{% block footer %}
    <nav class="fixed-bottom navbar-light bg-light text-center">
        <div class="container-fluid text-center">
            <span class="navbar-text">
                Copyright © {{ "now"|date("Y") }}. Mensański Typer. Wszystkie prawa zastrzeżone
            </span>
        </div>
    </nav>
{% endblock %}
{% block modals %}{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.js.map') }}"></script>
    <script src="{{ asset('assets/js/spinner.js') }}"></script>
    <script src="{{ asset('assets/js/row-link.js') }}"></script>
    <script src="{{ asset('assets/js/navbar-shadow.js') }}"></script>
{% endblock %}
{% block customJs %}{% endblock %}
</body>
</html>
