<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Mensański Typer{% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css.map') }}">
    {% endblock %}
</head>
<body>
{% block top_label %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('index') }}">
                <img src="{{ asset('assets/img/mtLogo.png') }}" style="height: 34px;" alt="mt_logo">
                <img src="{{ asset('assets/img/mtLogoNapis.png') }}" style="height: 30px;" alt="mt_napis">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarToggler">
                <div class="btn-group">
                    <a href="#" class="btn btn-outline-success" role="button">Zasady</a>
                    {% if app.user %}
                        <a href="{{ path('users') }}" class="btn btn-outline-success" role="button">Gracze</a>
                    {% endif %}
                </div>
                <div class="btn-group ms-2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Ekstraklasa
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Tabela</a></li>
                            <li><a class="dropdown-item" href="#">Terminarz</a></li>
                            <li><a class="dropdown-item" href="#">Statystyki</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Rankingi</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Liga Mistrzów
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Tabela</a></li>
                            <li><a class="dropdown-item" href="#">Terminarz</a></li>
                            <li><a class="dropdown-item" href="#">Statystyki</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Rankingi</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Premier League
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Tabela</a></li>
                            <li><a class="dropdown-item" href="#">Terminarz</a></li>
                            <li><a class="dropdown-item" href="#">Statystyki</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Rankingi</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            {% if is_granted('ROLE_USER') %}
                <div class="row row-cols-lg-auto align-items-center">
                    <div class="col-12 d-flex mx-5">
                        <a href="/" class="btn btn-outline-success me-2 btn-bet px-4" role="button">TYPUJ</a>
                    </div>
                </div>

                <div class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12 d-flex">
                        <small class="text-right text-nowrap">Zalogowano jako<br>
                            <b><a href="{{ path('user_profile') }}" class="link-secondary">
                                    {{ app.user.firstName }} {{ app.user.lastName }}
                                </a></b>
                        </small>
                    </div>
                </div>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <div style="margin-left: 15px;">
                    <a href="/">
                        <img src="{{ asset('assets/svg/gear-fill.svg') }}" height="20px" alt="admin">
                    </a>
                </div>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <div style="margin-left: 15px;">
                    <a href="{{ path('app_logout') }}">
                        <img src="{{ asset('assets/svg/door-closed.svg') }}" height="20px" alt="logout">
                    </a>
                </div>
            {% endif %}

            {% if is_granted('IS_ANONYMOUS') %}
                <div class="btn-group">
                    <a href="{{ path('app_register') }}" class="btn btn-outline-success text-nowrap" role="button">Załóż konto</a>
                    <a href="{{ path('app_login') }}" class="btn btn-success me-2 text-nowrap" role="button">Zaloguj się</a>
                </div>
            {% endif %}
        </div>
    </nav>
{% endblock %}
<div class="pb-3">
    {% block body %}

    {% endblock %}
</div>
{% block footer %}
    <nav class="fixed-bottom navbar-light bg-light text-center">
        <div class="container-fluid text-center">
            <span class="navbar-text">
                Copyright © {{ "now"|date("Y") }}. Mensański Typer. Wszystkie prawa zastrzeżone
            </span>
        </div>
    </nav>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.js.map') }}"></script>
{% endblock %}
</body>
</html>
